<!DOCTYPE html>
<html lang="en" ng-app="superheroesApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <style>
    .blue{ color: blue }
    .red{ color: red }
    .green{color: green}
    .pink{color: pink }
    .orange{color: orange }
  </style>
</head>
<body ng-controller="superheroesCtrl as vm">
  <h1>Who You Gonna Call ??</h1>
    <input type="text" ng-model="search" placeholder="Search Superhero">

  <div ng-class="{'blue':superhero.affiliation === 'Marvel', 'red':superhero.affiliation === 'B.P.R.D', 'green' :superhero.affiliation === 'DC Comics', 'pink' :superhero.affiliation === 'Ultraman Millenium', 'orange' :superhero.affiliation === 'Targaryen'}" ng-repeat="superhero in vm.superheroes | filter:search" >
    <h2> {{$index + 1}}. {{superhero.name}} </h2>
    <h3> Phone Number: {{superhero.phone}} | Affiliation: {{superhero.affiliation}}   </h3>
      <div class="hero-image">
        <img ng-src="{{superhero.img_url}}">
      </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
